<div class="postui post-con animated fadeIn fast">
  <div class="con-wrap">
    <h1>Donaciones.</h1>
    <hr>
    <div class="">
      <p>Las donaciones son usadas para el mantenimiento del servidor, el pago del hosting web y otros gastos relacionados con el servidor </p>
      <p>Dependiendo de la cantidad de dinero que donas asi mismo seras recompenzado con MDS que sirven para comprar items especiales en el juego.</p>
       <table class="color-white margin-def">
         <tr>
             <td>Precio</td>
             <td>Recompenza</td>
         </tr>
         <tr>
             <td>3 Euros</td>
             <td>300 MDS </td>
         </tr>
         <tr>
             <td>5 Euros</td>
             <td>550 MDS </td>
         </tr>
         <tr>
             <td>10 Euros</td>
             <td>1100 MDS </td>
         </tr>
         <tr>
             <td>20 Euros</td>
             <td>2300 MDS </td>
         </tr>
     </table>
     <div style="
       float: right;
       margin: -90px 30px 0 0;">

     </div>
    </div>
  </div>
</div>
