<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
        <h1>Registro</h1>
        <hr>

        <form [formGroup]="form">

            <label>Nombre Cuenta:</label>
            <p>
                <input type="text" formControlName="login">
                
                <span *ngIf="form.controls['login'].errors?.existe && form.controls['login'].touched">
                    El nombre de usuario ya se encuentra registrado.
                </span>
                
                <span *ngIf="form.controls['login'].errors?.required && form.controls['login'].touched">
                    El nombre de usuario es obligatorio.
                </span>
                
                <span *ngIf="form.controls['login'].errors?.minlength">
                    Por lo menos 4 caracteres.
                </span>
                
                <span *ngIf="!form.controls['login'].errors?.existe && form.controls['login'].touched">
                    Nombre de usuario disponible 
                </span>
            </p>

            <label>Password:</label>
            <p>
                <input type="password" formControlName="password">
                <span *ngIf="form.controls['password'].errors?.required && form.controls['password'].touched">
                    El password es obligatorio.
                </span>
                <span *ngIf="form.controls['password'].errors?.minlength">
                    Por lo menos 4 caracteres.
                </span>
            </p>

            <label>Nombre real:</label>
            <p>
                <input type="text" formControlName="real_name">
                <span *ngIf="form.controls['real_name'].errors?.required && form.controls['real_name'].touched">
                    El nombre real es obligatorio.
                </span>

                <span *ngIf="form.controls['real_name'].errors?.minlength">
                    Por lo menos 4 caracteres.
                </span>
            </p>

            <label>Correo Electronico:</label>
            <p>
                <input type="email" formControlName="email">
                <span *ngIf="form.controls['email'].errors?.required && form.controls['email'].touched">
                    El email es obligatorio.
                </span>
                <span *ngIf="form.controls['email'].errors?.pattern">
                    No tiene formato de correo.
                </span>
            </p>

            <label>Codigo de borrado:</label>
            <p>
                <input type="number" formControlName="social_id">
                <span *ngIf="form.controls['social_id'].errors?.pattern">
                    Por lo menos 7 caracteres.
                </span>
            </p>
            <p>
                <input type="checkbox" (change)="truecheck()">
                <span>Aceptar los <a [routerLink]="['/terminos']">terminos y condiciones.</a></span>
            </p>
            <input (click)="registro()" type="submit" value="{{ formInputValue }}" [disabled]="!form.valid || !checkbox" />

        </form>

    </div>
</div>