<h1>
    Cambio de Contraseña
</h1>
<hr>
<form action="" class="form_chanpass" [formGroup]="form" (ngSubmit)="send()">
    
    <label>Contraseña Actual</label>
    <p>
        <input
            formControlName="current_password"
            type="password"
            name="current_password"
            id="current_password"
            placeholder="*******">
        <span *ngIf="form.controls['current_password'].errors?.required && form.controls['current_password'].touched"> * La Contraseña es obligatoria.</span>
        <span *ngIf="form.controls['current_password'].errors?.minlength"> * Por lo menos 6 caracteres. </span>
    </p>             
    
    <label>Nueva Contraseña</label>
    
    <p>
        <input
            formControlName="new_password"
            type="password"
            name="new_password"
            id="new_password"
            placeholder="*******">
        <span *ngIf="form.controls['new_password'].errors?.required && form.controls['new_password'].touched"> * La Nueva Contraseña es obligatoria.</span>
        <span *ngIf="form.controls['new_password'].errors?.minlength"> * Por lo menos 6 caracteres. </span>
    </p>          

    <label>Confirm. Contraseña</label>

    <p>
        <input
            formControlName="new_password_again"
            type="password"
            name="confirm_new_password"
            id="confirm_new_password"
            placeholder="*******">
        
        <span *ngIf="form.controls['new_password_again'].errors?.required && form.controls['new_password_again'].touched"> * Confirmar Contraseña es obligatorio.</span>
        <span *ngIf="form.controls['new_password_again'].errors?.minlength"> * Por lo menos 6 caracteres. </span>
        <span *ngIf="form.value.new_password != form.value.new_password_again" for="name">* Los password no coinciden.</span>
    </p>



    
    <button
            class="boton-madera"
            type="submit"
            [disabled]="!form.valid">
        Aceptar
    </button>

    <div *ngIf="message" class="text-white center" >
        <hr>
        <h3> {{ message }} </h3>
    </div>
</form>

