<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap top-centrado">
        <h1>Top Gremios</h1>
        <hr>
        <div class="">
            <p>
                El ranking sera actualizado cada 24 horas.
            </p>
            <table class="top-centrado" *ngIf="!cargando; else elseblock">
                <tr>
                    <td class="color-white">Posición </td>
                    <td class="color-white">Nombre </td>
                    <td class="color-white">Nivel </td>
                    <td class="color-white">Puntos </td>
                    <td class="color-white">Experiencia</td>
                    <!--<td></td>-->
                </tr>

                <tr *ngFor="let gremio of gremios; let i = index">
                    <td class="color-white"> {{  i + pagina }} </td>
                    <td class="color-white"> {{ gremio.name }} </td>
                    <td class="color-white"> {{ gremio.level }} </td>
                    <td class="color-white"> {{ gremio.exp }} </td>
                    <td class="color-white"> {{ gremio.ladder_point }} </td>
                    <!--<td></td>-->

                </tr>
            </table>
            <ng-template #elseblock>
                <div class="loader-personal">
                </div>
            </ng-template>
            <div class="pagination">
                <span *ngIf="!cargando" class="page-links">
                    <button *ngIf="previustURL" 
                            (click)="getNexGuild()" 
                            type="button"
                            class="boton-madera">Anterior</button>
                    <!-- <a *ngIf="previustURL" (click)="getNexPlayer(previustURL)" class="puntero">Anterior</a>-->
                    <span class="page-current">
                        Pagina {{ realpag }} de {{ (total / 20) - (( total % 20 ) / 20) + 1 }}.
                    </span>
                    <button *ngIf="nextURL" 
                            (click)="getPrevGuild()" 
                            type="button"
                            class="boton-madera"> Siguiente </button>
                    <!-- <a *ngIf="nextURL" (click)="getPrevPlayer(nextURL)" class="puntero">Siguiente</a> -->
                </span>
            </div>

        </div>
    </div>
</div>