<div class="postui post-con animated fadeIn fast">
    <div class="con-wrap">
        <h1>Registro Exitoso.</h1>
        <hr>
        <div class="">
            <p>
                Te damos una calurosa bienvenida a nuestro servidor, se ha enviado un correo electronico al correo que
                registrarse, esto solo para que recuerdes tu cuenta.
                Ahora puedes ir a la pagina de <a [routerLink]="['/descargas']">descargas</a> y bajar el cliente para que
                inicies esta aventura.
            </p>
        </div>
    </div>
</div>