<div class="postui post-con animated fadeIn fast">
  <div class="con-wrap">
    <h1>Panel de Usuario</h1>
    <hr>
    <div *ngIf="auth.isAuthenticated()">
      <p>Hola {{ auth?.data.real_name }}</p>
      <table border="1 px">
        <thead>
          <td>login</td>
          <td>correo</td>
          <td>mds</td>
        </thead>
        <tbody>
          <td>{{ auth?.data.login }}</td>
          <td>{{ auth?.data.email }}</td>
          <td>{{ auth?.data.mds }}</td>
        </tbody>
      </table>
      <button (click)="auth.logout()"
              class="boton-madera"
              type="button"
              name="button"> Cerrar Sesión</button>
    </div>

  </div>
</div>
