<div class="postui post-con animated fadeIn fast">

<div class="con-wrap">
</div>

    <div class="con-wrap">
    <h1>Bienvenidos a Metin2 The Last</h1>
    <hr>
    <p>
        Información Básica: Servidor Dedicado A Las Guerras Y Duelos. Todo Accesible En El Juego; Servidor De Alta Calidad Y Estabilidad.
    </p>
    <p>
        El Yang Es El Objeto Más Valioso En Thelast, Inevitablemente Se Deberá Comerciar, No Esperes Mas, Anímate Y Únete A Esta Gran Aventura
    </p>
    <p>
        Todo Es Adquirible En El Juego, El Jugador Puede Escoger Entre Conseguir Su Equipamiento Mediante El PVM O Batallando En Contra Otros Jugadores PVP Para Ganar Puntos De Gloria.
    </p>
    <p>
        Nuevos Jefes, Desafían A Los Jugadores, Eventos De Jefes Semanales, Encontraras Una Gran Variedad De Mobs En Thelast.
    </p>
    <p>
        A todos los mapas se les ha aumentado el número de metines y tiene objetos de gran interés para cada mapa, algunos tiene restricción de nivel para mantener un leveo y drop de yang regulado.
    </p>
    </div>
</div>

<div class="postui post-con margen-top animated fadeIn fast">
    <div class="con-wrap">
    </div>
    <div class="con-wrap">
        <h1>PRESENTACION DEL SERVIDOR</h1>
        <hr>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>