<header>
    <nav class="">
      <!--Inicio navegacion principal -->
      <ul>
        <li class="menu1">
          <a [routerLink]="['/inicio']" style="font-size: 10px;"><span class="chinese">INICIO</span><br>HOME</a>
        </li>
        <li class="menu2">
          <a [routerLink]="['/auth/registro']" style="font-size: 10px;"><span class="chinese">REGISTRO</span><br>REGISTER</a>
        </li>
        <li class="menu3">
          <a [routerLink]="['/descargas']" style="font-size: 10px;"><span class="chinese">DESCARGAR</span><br>DOWNLOAD</a>
        </li>
        <li class="menu4">
          <a [routerLink]="['/jugadores']" style="font-size: 10px;"><span class="chinese">TOP JUGADORES</span><br>PLAYER RANKING</a>
        </li>
        <li *ngIf="!auth.isAuthenticated()" class="menu8">          
          <a [routerLink]="['/auth/ingresar']" style="font-size: 10px;"><span class="chinese">Ingresar </span><br>login</a>
        </li>
        <li *ngIf="auth.isAuthenticated()" class="menu8">           
          <a [routerLink]="['/panel_usuario']" style="font-size: 10px;"><span class="chinese">Panel Usuario </span><br>User Panel</a>
        </li>
      </ul>
      <!-- subnavigation -->
    </nav>

    <div id="logo">
      <img class="logo" src='./assets/images/logo.png' alt="Logo" style="">
    </div>

    <div id="logo_placeholder">
    </div>
    
</header>